@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');

.main-content {
    width: 50%;
    margin: auto;
}

.guestbook-title {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.guestbook-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guestbook-list {
    width: 100%;
    max-height: 300px;
    /* 방명록 리스트 최대 높이 */
    overflow-y: auto;
    /* 스크롤 가능 */
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.guestbook-item {
    display: flex;
    align-items: center;
    /* 세로 정렬 */
    gap: 10px;
    /* 이미지와 닉네임 사이 간격 */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-image {
    width: 40px;
    /* 크기 조절 */
    height: 40px;
    border-radius: 50%;
    /* 원형 프로필 */
    object-fit: cover;
}

.guestbook-content {
    flex: 1;
    /* 닉네임과 메시지가 남은 공간을 차지하도록 설정 */
}

.guestbook-list ul {
    list-style: none;
    padding: 0;
}

.guestbook-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.guestbook-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    gap: 10px;
}

.guestbook-form input,
.guestbook-form textarea {
    width: 100%;
    border: none;
    font-size: 16px;
}

.guestbook-form button {
    width: 20%;
    padding: 5px;
    background-color: #ddd;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;

}

.guestbook-form button:hover {
    background-color: #d8d4d4;
}

#nickname {
    width: 50%
}

.guestbook-content p {
    margin-bottom: 0;
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-box label {
    cursor: pointer;
    padding: 8px 16px;
    background-color: #ec98bf;
    color: white;
    border-radius: 4px;
}

.profile-box label:hover {
    background-color: #eb8bb7;
}

.chip {
    display: inline-flex;
    align-items: center;
    border: 1px solid #d4e2ff;
    background-color: #f5f9ff;
    color: #333;
    padding: 6px 10px;
    border-radius: 16px;
    position: relative;
    cursor: default;
}
.chip i {
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    color: #666;
}
.chip i:hover {
    color: #333;
  }