.card-text {
    line-height: 2;
}

#helmet{
    margin-top: 170px;
}

 #memberCard {
    margin-top: 205px;
    margin-bottom: 200px;
}

.member-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.member-card {
    cursor: pointer;
}

.member-card>.card:hover {
    background-color: rgba(243, 244, 245, 1) !important;
}

body h2 {
    margin-top: 65px;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}