.card-text {
    line-height: 2;
}

#memberCard {
    margin-top: 80px;
}

.member-card img {
    width: 100px;
}
.member-card {
    cursor: pointer;
}
.member-card > .card:hover {
    background-color: rgba(243, 244, 245, 1) !important;
}